#main-container {
  position: relative;
}

#popup {
  position: absolute;
  z-index: 9999;
  padding-right: 15px;
}

#popup {
  max-width: 100%;
}

#popup img {
  width: 100%;
}

#popup div {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  text-align: right;
}

#popup img {
  cursor: pointer;
}

#popup div a {
  border: 1px solid #333;
  margin-right: 5px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 0 5px;
}

#notice {
  text-align: center;
  color: #fff;
}

#notice p {
  font-size: 16px;
  margin-bottom: 22px;
}

#banner {
  padding-top: 30px;
}

#banner img {
  width: 100%;
}

.carousel-fade .carousel-inner .item{
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;  
}

.carousel-fade .carousel-inner .carousel-control {
  z-index: 2;
}

#features .row,
#extras .row {
  margin-left: 0;
  margin-right: 0;
}

#features .feature,
#extras .extra {
  padding: 0;
  background: #fff;
}

#features .feature .feature_content,
#extras .extra .extra_content {
  padding: 30px;
}

#features p,
#extras p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: 100;
}

#feature_desc, 
#extra_desc {
  background: #f1c40f !important;
  color: #fff;
}

#feature_desc .feature_content,
#extra_desc .extra_content {
  background: #f1c40f;
  color: #fff; 
}

.feature_content,
.extra_content {
  background: #fff;
  color: #000;
}

#feature_desc .head,
#extra_desc .head {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
}

#features .image_wrapper img {
  width: 100%;
}

#feature_image_1 {
  position: relative;
  background: url(/static/image/lover.jpg);
  background-size: 100% cover;
  padding-top: 300px;
}

#feature_image_2 {
  position: relative;
  background: url(/static/image/friends.jpg);
  background-size: 100% cover;
  padding-top: 300px;
}

#feature_image_3 {
  position: relative;
  background: url(/static/image/workers.jpg);
  background-size: 100% cover;
  padding-top: 300px;
}

#features .blinder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

#features .blinder.inactive {
  display: none;
}

#comments {
  background: #333;
  padding-top: 100px;
  padding-bottom: 55px;
  color: #fff;
}

#comments .item .item_wrapper {
  max-width: 60px;
  margin-left: auto;
  margin-right: auto;
}

#comments .item .item_wrapper img {
  width: 100%;
  border-radius: 50%;
}

#comments p.comments {
  font-size: 14px;
}

#comments h3.commenter_name {
  color: #f1c40f;
  font-size: 16px;
  font-weight: 100;
}

#comments p.comment_date {
  font-size: 12px;
}

#comments .comment_content {
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  font-size: 16px !important;
  font-weight: 100;
}

#comments .inactive {
  display: none;
}

#comments .carousel-control {
  background: none;
}

#comments .carousel-control:hover,
#comments .carousel-control:active {
  color: #f1c40f;
}

#comments .carousel-control.left {
  width: 10%;
  
}

#comments .carousel-control.right {
  width: 10%;
}

#comments .carousel-control span {
  font-size: 15px !important;
}

.gray_button {
  background: #aa8a0a;
  padding: 10px 25px;
  font-size: 16px;
  color: #dfdfdf;
  cursor: pointer;
  bottom: 30px;
  position: absolute;
  text-decoration: none !important;
}

.gray_button:hover,
.gray_button:active {
  color: #dfdfdf;
}

/* options */

h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.arrow-up {
  top: 290px;
  left: 15px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
}

@media screen and (max-width: 991px) {
  #extra_btn.gray_button {
    position: relative;
  }

  #extra_btn {
    float: right;
  }

  .blinder {
    display: none;
  }
}

@media screen and (max-width: 767px){
  #feature_btn.gray_button {
    position: relative;
    bottom: 0;
  }
}