#itaewon {
  padding-top: 25px;
}

#itaewon p {

}

#reservation_container {
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}

#reservation_container .row {
  margin-left: 0;
  margin-right: 0;
}

#reservation_bg {
  width: 100%;
}

#reservation_img{
  width: 60%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#booking_toggle_wrapper,
.subtitle {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f1c40f;
  margin-bottom: 25px;
}

#booking_toggle_wrapper .tab_wrapper {
  padding-right: 15px;
}

.toggle_button {
  padding: 5px 10px;
  font-size: 18px;
  color: #f1c40f;
  cursor: pointer;
}

.toggle_button:active,
.toggle_button:hover {
  text-decoration: none !important;
  color: white;
  background: #f1c40f;
}

.toggle_button.active {
  color: white;
  background: #f1c40f;
}

#book_a_session_wrapper {
  padding-bottom: 25px;
}

.booking_input_wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.booking_input_wrapper label {
  font-size: 16px;
  font-weight: 100;
  margin-top: 5px;
}

.booking_input_wrapper .dropdown .btn.dropdown-toggle {
  text-align: left;
  border-radius: 0px;
}

.booking_input_wrapper span.caret {
  position: absolute;
  top: 15px;
  right: 10px;
}

.booking_input_wrapper .dropdown ul.dropdown-menu {
  min-width: 100%;
  border-radius: 0;
  left: auto;
  right: 0;
}

.booking_input_wrapper .dropdown ul.dropdown-menu a {
  cursor: pointer;
}

.booking_input_wrapper .dropdown ul.dropdown-menu a:active,
.booking_input_wrapper .dropdown ul.dropdown-menu a:hover {
  background-color: #f1c40f;
  color: #fff;
}

#participantsMenu {
  margin-bottom: 15px;
}

#book_a_session_wrapper .row.bottom {
  /*border-bottom: 1px solid #f1c40f;*/
  padding-bottom: 25px;
  margin-bottom: 30px;
}

#book_a_session_wrapper .table th {
  background-color: #f1c40f;
  border-bottom: 0 !important;
}

#book_a_session_wrapper .table th,
#book_a_session_wrapper .table td {
  font-weight: 100;
  text-align: center;
}

#book_a_session_wrapper .table td {
  word-wrap: break-word;
}

#book_a_session_wrapper .table th {
  border-bottom: 1px solid #ddd;
}

#reserve_date {
  border-radius: 0;
}

#priceinfo_wrapper .table th,
#priceinfo_wrapper .table td {
  width: 50%;
}

.priceinfo_inner {
  padding-left: 0;
  padding-right: 0;
}

.priceinfo_inner img {
  width: 100%;
}

#book_info_wrapper {

}

#book_info_wrapper #login_box {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #333;
  margin-top: 65px;
}

#login_box legend {
  font-size: 24px;
  font-weight: bold;
}

#login_box .book_login_input {
  background: #fdfdfd;
  border-radius: 2px !important;
  height: 45px;
  margin-bottom: 12px;
}

#login_box #book_login_button {
  background: #f1c40f;
  border: none;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.0); 
  margin-bottom: 12px;
}

#login_box.disable {
  display:none;
}

#booking_process_wrapper .row,
#booking_info_cancel_wrapper .row{
  margin-left:-15px;
  margin-right:-15px;
}

#booking_process_wrapper input,
#booking_process_wrapper textarea,
#booking_info_cancel_wrapper input {
  border-radius: 2px;
  margin-bottom: 10px;
}

#booking_process_wrapper textarea {
  resize: none;
}

#booking_process_wrapper #pre_selected input,
.cancel_form input {
  background-color:#ccc;
}

#booking_toggle_wrapper.disable {
  display:none;
}

#booking_info_cancel_wrapper .booking_info_button {
  background: #f1c40f;
  border: none;
  color: #fff;
}

.toggle_content {
  display: none;
}

.toggle_content.active {
  display: block;
}


#cancel_modal {
  z-index: 9999;
}

#cancel_modal .modal-content {
  border-radius: 0px;
}

#cancel_modal .modal-content .modal-header {
  background-color: #f1c40f;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

#cancel_modal .modal-content .modal-header span {
  color: #fff;
}

#cancel_modal .modal-content .modal-body {
  padding: 20px 15px;
  color: #000;
}

#cancel_modal .modal-content .modal-body p {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

#cancel_modal .modal-content .modal-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
  margin: 0;
}

#cancel_modal .modal-content .modal-footer .btn {
  border-radius: 3px;
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
  color: #fff;
  padding: 6px 20px;
}

#reservation_container .book_btn {
  border-radius: 3px;
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
  color: #fff;
  padding: 6px 20px;
  margin-top: 15px;
}

#reservation_container #goto_login.book_btn,
#reservation_container #goback_booking.book_btn {
  background-color: #ee8a66;
  border: 1px solid #ee8a66;
}

.difficulty  {
  /*position: relative;*/
}

.difficulty .foreground {
  /*position: absolute;*/
  color: #f1c40f;
}

.difficulty .foreground .fa-star,
.difficulty .foreground .fa-star-half {
  color: #f1c40f;
}

.difficulty .background {
  color: #f1c40f;
  visibility: hidden;
  /*position: absolute;*/
}

.datepicker-dropdown:after {
  left: 50% !important;
}

.datepicker.datepicker-dropdown.dropdown-menu {
  /*left: 0 !important;
  right: 5px !important;*/
  margin-top: 5px !important;
}

#room_image {
  width: 100%;
}

#room_image img {
  width: 100%;
}

@media screen and (max-width: 767px){
  #booking_process_wrapper .row, 
  #booking_info_cancel_wrapper .row {
    margin-left:0px;
    margin-right:0px;
  }

  #itaewon {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  #book_a_session_wrapper .table td {
    font-size: 12px;
    padding: 6px;
  }

  #booking_toggle_wrapper,
  #priceinfo_wrapper,
  #booking_process_wrapper div.subtitle,
  #booking_info_cancel_wrapper div.subtitle{
    padding-left: 15px;
    padding-right: 15px;
  }
}